# Backend
**/bin/
**/obj/
backend/*.user
backend/.vs/
backend/.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/*.log

# IDE
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db

